<%- include('../partials/header'); %>
  <form>
    <h3>Search all posts in this category</h3>
    <span>
      <label for="searchText">Please enter your search text here:</label>
      <input type="text" name="searchText">
      <button>Search</button>
    </span>
  </form>
  <% if (posts.results.length === 0) { %>
    <h3>Sorry, there seem to currently be no posts matching your search criteria.</h3>
  <% } else { %>
    <span>
      <h3>Sort by: </h3> 
      Title <button id="title-asc">Asc</button> <button id="title-desc">Desc</button>
      Rating <button id="rating-asc">Asc</button> <button id="rating-desc">Desc</button>
      Last updated <button id="updated-asc">Asc</button> <button id="updated-desc">Desc</button>
    </span>
    <ul>
      <% for (post of posts.results) { %>
        <li>
          <a href="/posts/<%= post._id %>/<%= post.slug %>"><%= post.title %></a>
          <br>
          <span>Author: <%= post.author.username %></span>
        </li>
      <% } %>
    </ul>
    <span>
      <% if (posts.pagination.prev) { %>
        <% if (url.includes('?')) { %>
          <a href="<%= url %>&page=<%= posts.pagination.prev.page %>">Previous page</a>
        <% } else { %>
          <a href="<%= url %>?page=<%= posts.pagination.prev.page %>">Previous page</a>
        <% } %>
      <% } %>
      <% if (posts.pagination.next) { %>
        <% if (url.includes('?')) { %>
          <a href="<%= url %>&page=<%= posts.pagination.next.page %>">Next page</a>
        <% } else { %>
          <a href="<%= url %>?page=<%= posts.pagination.next.page %>">Next page</a>
        <% } %>
      <% } %>
    </span>
  <% } %>

  <script type="module" src="/js/postScripts/getPosts.js"></script>
<%- include('../partials/footer'); %>