<%- include('../partials/header'); %>
  <h1>Here you can manage the users on the guitar wiki portal</h1>
  <br>
  <form>
    <h3>Search all users</h3>
    <span>
      <label for="searchText">Please enter your search text here:</label>
      <input type="text" name="searchText">
      <button>Search</button>
    </span>
  </form>
  <% if (data.results.length === 0) { %>
    <h3>Sorry, there seem to currently be no users matching your search criteria.</h3>
  <% } else { %>
    <span>
      <h3>Sort by: </h3> 
      Username <button id="username-asc">Asc</button> <button id="username-desc">Desc</button>
      Postcount <button id="postcount-asc">Asc</button> <button id="postcount-desc">Desc</button>
      Status <button id="status-asc">Asc</button> <button id="status-desc">Desc</button>
      Role <button id="role-asc">Asc</button> <button id="role-desc">Desc</button>
      Creation date <button id="created-asc">Asc</button> <button id="created-desc">Desc</button>
    </span>
    <ol>
      <% for (user of data.results) { %>
        <li>
          <a href="/users/<%= user._id %>/<%= user.slug %>"><%= user.username %></a>
        </li>
      <% } %>
    </ol>
    <%- include('../partials/pagination'); %>
  <% } %>
  <br>
  <a href="/manage-users">To the user management overview</a>

  <script type="module" src="/js/userScripts/getUsers.js"></script>
<%- include('../partials/footer'); %>