<%- include('partials/header'); %>
  <ul>
    <% for (post of posts) { %>
      <li>
        <div><%= post.title %></div>
        <br>
        <div><%= post.contents %></div>
        <div>Author: <%= post.author %></div>
      </li>
    <% } %>
  </ul>
<%- include('partials/footer'); %>