<%- include('../partials/header'); %>
  <ul>
    <% for (rating of ratings.results) { %>
      <li>Rating: <%= rating.rating %></li>
      <li>Post: <%= rating.post.title %></li>
      <% if (rating.reviewer) { %>
        <li>Reviewer: <%= rating.reviewer.username %></li>
      <% } else { %>
        <li>Reviewer: Deleted user</li>
      <% } %>
    <% } %>
  </ul>  
<%- include('../partials/footer'); %>