<%- include('../partials/header'); %>
  <ul>
    <% for (rating of ratings.results) { %>
      <li>Rating: <%= rating.rating %></li>
      <li>Post: <%= rating.post.title %></li>
      <% if (rating.reviewer) { %>
        <li>Reviewer: <%= rating.reviewer.username %></li>
      <% } else { %>
        <li>Reviewer: Deleted user</li>
      <% } %>
    <% } %>
  </ul>
  <span>
    <% if (ratings.pagination.prev) { %>
      <% if (url.includes('?')) { %>
        <a href="<%= url %>&page=<%= ratings.pagination.prev.page %>">Previous page</a>
      <% } else { %>
        <a href="<%= url %>?page=<%= ratings.pagination.prev.page %>">Previous page</a>
      <% } %>
    <% } %>
    <% if (ratings.pagination.next) { %>
      <% if (url.includes('?')) { %>
        <a href="<%= url %>&page=<%= ratings.pagination.next.page %>">Next page</a>
      <% } else { %>
        <a href="<%= url %>?page=<%= ratings.pagination.next.page %>">Next page</a>
      <% } %>
    <% } %>
  </span>
<%- include('../partials/footer'); %>