<%- include('../partials/header'); %>
  <% if (data.results.length === 0) { %>
    <% if (path.includes('post-ratings')) { %>
      <h3>Sorry, there either are no ratings matching your search criteria or this post hasn't received any ratings yet.</h3>
    <% } else if (path.includes('given-ratings')) { %>
      <h3>Sorry, there either are no ratings matching your search criteria or this user hasn't given any ratings yet.</h3>
    <% } else { %>
      <h3>Sorry, there either are no ratings matching your search criteria or this user hasn't received any ratings yet</h3>
    <% } %>
  <% } else { %>
    <span>
      <h3>Sort by: </h3> 
      Rating <button id="rating-asc">Asc</button> <button id="rating-desc">Desc</button>
      <% if (path.includes('post-ratings') || path.includes('received-ratings')) { %>
        Reviewer <button id="reviewer-asc">Asc</button> <button id="reviewer-desc">Desc</button>
      <% } else { %>
        Recipient <button id="recipient-asc">Asc</button> <button id="recipient-desc">Desc</button>
      <% } %>
      Creation date <button id="created-asc">Asc</button> <button id="created-desc">Desc</button>
    </span>
    <ul>
      <% for (rating of data.results) { %>
        <li>Post: <%= rating.post.title %></li>
        <% if (rating.recipient) { %>
          <li>Author: <%= rating.recipient.username %></li>
        <% } else { %>
          <li>Author: Deleted user</li>
        <% } %>
        <% if (rating.reviewer) { %>
          <li>Reviewer: <%= rating.reviewer.username %></li>
        <% } else { %>
          <li>Reviewer: Deleted user</li>
        <% } %>
        <li>Rating: <%= rating.rating %></li>
      <% } %>
    </ul>
    <%- include('../partials/pagination'); %>
  <% } %>
  <br>
  <% if (path.includes('post-ratings')) { %>
    <a href="/posts/<%= id %>/<%= slug %>">Back to the post</a>
  <% } else { %>
    <a href="/users/<%= id %>/<%= slug %>">Back to the user</a>
  <% } %>
  
  <script type="module" src="/js/ratingScripts/getRatings.js"></script>
<%- include('../partials/footer'); %>